arquivos_aulas/hanoi
arquivos_aulas/areacirculo
arquivos_aulas/casas
arquivos_aulas/classificar
arquivos_aulas/conta
arquivos_aulas/hello
arquivos_aulas/logaritmo
arquivos_aulas/peso_ideal
avaliacao1/q1
avaliacao1/q2
arquivos_aulas/switchcase
avaliacao1/q3
avaliacao1/vinicius
avaliacao1/vinicius.c
